<h1>Make your form here</h1>
<form action="/pirate" method="post">
  Pirate Name: <input type="text">
  Pirate Height: <input type="text">
  Pirate Weight: <input type="text">
  <input type="submit">
</form>
